$main-clr1:#48D9BA;
$main-clr2:#41C2D3;
$primary:#3399FF;
$primary-hover:#2290ff;

// course colors
$course1:rgba(231, 76, 60, .6);
$course2:rgba(52, 152, 219, .6);
$course3:rgba(162, 155, 254, .6);
$course4:rgba(26, 188, 156, 0.6);
$course5:rgba(44, 62, 80, 0.7);
$course6:rgba(241, 196, 15, 0.6);